{% extends 'base.html' %}

{% block content %}

<h2>Question {{ index|add:1 }}/{{ total_questions }}</h2>

<p>{{ question.text }}</p>



{% if question.image %}
    <img src="{{ question.image.url }}" alt="Question Image" style="max-width: 300px; height: auto;">
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">
        {% if index|add:1 == total_questions %}Finish{% else %}Next{% endif %}
    </button>
</form>

{% endblock %}